# Ignorar archivos compilados
*.class

# Ignorar directorios de construcción
/build/
/dist/
/target/

# Ignorar configuraciones del IDE NetBeans
/nbproject/private/
/nbbuild/
*.nbattrs

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db
/poo/build/
/persistencia-ficheros/nbproject/private/
/persistencia-ficheros/build/
/poo/dist/
/persistencia-ficheros/dist/
/acceso-datos-actividad-uf1/nbproject/private/
/acceso-datos-actividad-uf1/build/
/acceso-datos-actividad-uf1/dist/
/acceso-datos-actividad-uf3/nbproject/private/
/acceso-datos-actividad-uf3/build/
